{% extends "wrapper.html" %}

{% block head %}
<title>Leaderboard</title>
{% endblock %}

{% block body %}
<h2 id="question_no">Leaderboard for {{question_no}}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Top 5 Scorers</th>
            <th>scores</th>
        </tr>
    </thead>
    <tbody>
         {% for topfive in topscorers %}
    
        <tr>
            <td>{{ topfive.name }}</td>
            <td>{{ topfive.score }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="GET">
    <input type="submit" formaction="/home" value="Back to homepage">
    <input type="submit" formaction="/leaderboard" value="Check another question's leaderboard">
</form>
{% endblock %}