{% extends "wrapper.html" %}

{% block head %}
<title>Leaderboard</title>
<style>
    table {
        width: 60%;
        margin: 20px auto;
        border-collapse: collapse;
        font-family: Arial, Helvetica, sans-serif;
    }

    th, td{
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }

</style>
{% endblock %}

{% block body %}
<h2 id="question_no">Leaderboard for {{question_no}}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Top 5 Scorers</th>
            <th>scores</th>
        </tr>
    </thead>
    <tbody>
         {% for topfive in topscorers %}
    
        <tr>
            <td>{{ topfive.name }}</td>
            <td>{{ topfive.score }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="GET">
    <input type="submit" formaction="/home" value="Back to homepage">
    <input type="submit" formaction="/leaderboard" value="Check another question's leaderboard">
</form>
{% endblock %}