{% extends "wrapper.html" %}

{% block head %}
<title>Leaderboard</title>
{% endblock %}

{% block body %}
<h2>Select question</h2>
<table>
    <ul id="questions"></ul>
    <script>
        // JavaScript array
        let data = ["Question1", "Question2",
            "Question3", "Question4"];

        // Get the list container element
        let list =
            document.getElementById('questions');

        // Create the unordered list element 
        //and set its inner HTML using map() and join()
        let ul = `<ul>${data.map(data =>
            `<li>
                <a>${parameter}</a>
            </li>
            `).join('')}
                  </ul>`;

        // Set the inner HTML of the list container
        list.innerHTML = ul;
    </script>
</table>

<form action="/home" method="GET">
    <input type="submit" value="Go Back">
</form>
{% endblock %}