<!-- By Zong Yu 
To show the scores 
Criteria: Student should be able to view his/her marks for all submissions. -->

{% extends "wrapper.html" %}

{% block head %}
<style>
    table, th, td {
    
      border: 1px solid;
      border-collapse: collapse;
      padding: 17px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock %}

{% block body %}
<h1>
    <strong>
        <u>
            Score
        </u>
    </strong>
</h1>


<!-- <h2 id="get_subAID" hidden>{{get_subAID}}</h2>
<h2 id="get_subscore" hidden>{{get_subscore}}</h2> -->

<h2 id="s_details_tup" hidden>{{s_details_tup}}</h2>

<!--  i want a var to show on top -->
<p style="text-align: center;"> Scores </p>  
<!-- <strong><u>{{get_subAID}}</u></strong> -->


<div id="body">
<table id='assgScoreTable'> <!--  create table skeleton -->
<tr><th>AID</th><th>Scores</th></tr>

<!-- submission_id, aid, username, attempt, score, submitted_at -->
{% for detail in s_details_tup %}
  <tr><td> {{detail[0]}} </td><td> {{detail[1]}} </td></tr>
{% endfor %}



</table>
</div>



<!-- old - Javascript code to create score table -->
<script> 
  // var tableVar = document.getElementById('assgScoreTable'); //gets the table 

  // var tableScores = ''; // new table to be generated
  
  // var assgScore = document.getElementById('question_no')

  // // var assgScore = [
  // //   {
  // //     Task: 's1',
  // //     score: 0.1
  // //   },
  // //   {
  // //     Task: 's2',
  // //     score: 0.3
  // //   }
  // // ];
  
  // // table headers
  // tableScores += '<tr><th>subquestion</th>' + '<th>Scores</th></tr>' 
  
  // // for loop to generate table data 
  // for (let i = 0; i < assgScore.length; i++) {
  //   tableScores += '<tr><th>' + assgScore[i][0] + '</th>'
  //     + '<td>' + assgScore[i][1] + '</td></tr>';
  // }

  // // for (let i = 0; i < assgScore.length; i++) {
  // //   tableScores += '<tr><th>' + assgScore[i].subquestion + '</th>'
  // //     + '<td>' + assgScore[i].subscore + '</td></tr>';
  // // }
  
  // tableVar.innerHTML += tableScores; // insert the generated table into the table
</script>

<form method="GET">
    <input type="submit" formaction="/home" value="Go back to homepage">
    <input type="submit" formaction="/score" value="Check another question's scores">
</form>

{% endblock %}