{% extends "wrapper.html" %}

{% block head %}
<title>Select Question</title>
<style>
  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
</style>
{% endblock %}

{% block body %}
<h2>Select question ({{parameter}}) </h2>
<h2 id="parameter" hidden>{{parameter}}</h2>
<h2 id="questions" hidden>{{questions}}</h2>
<ul>
    <div id="body"></div>
    {% for question in questions %}
        <li>
            <a href="{{parameter}}question?question_no={{question}}" id="link">{{question}}</a>
        </li>
    {% endfor %}
/<ul>

<form action="/home" method="GET">
    <input type="submit" value="Go Back">
</form>
{% endblock %}




