{% extends "wrapper.html" %}

{% block head %}
<title>Submit</title>
{% endblock %}

{% block body %}
    <h2>Submit Your Answer</h2>
    <form method="POST" formaction="/submit">
        <label for="userinput">Your Answer:</label>
        <input type="text" id="userinput" name="userinput" required><br><br>
        <input type="submit" value="Submit">

        <!--<input type="submit" formaction="/home" value="Go back to homepage">
        <input type="submit" formaction="/submit" value="Select another question"> -->

    </form>
{% endblock %}